# compile files
build/
build-*/
bin/
*.o
*.obj
*.out
*.exe
compile_commands.json

# weight and data
*.bin
*.pt
*.pth
*.safetensors
models/weights/

# IDE
.vscode/
.idea/
.DS_Store

# profiling
*.nsys-rep
*.qdstrm
*.sqlite
*.sqlite3
nsys-*
*.nsys
report*
